/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: GS_Content;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #e8e9eb;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e8e9eb;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	max-id: 5;
	margin-bottom: 9px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e8e9eb;
	name: Column1;
	id: 0;
	font-size: 16px;
	font-family: Roboto;
	cell-content-style-tag: p;
	cell-content-style-class: Body;
	color: #202a3e;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	font-family: Roboto;
	color: ;
	cell-content-style-tag: p;
	cell-content-style-class: Body;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e8e9eb;
	name: Header1;
	id: 2;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	cell-padding-left: 6px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e8e9eb;
	name: Body1;
	id: 1;
	font-size: 16px;
	font-family: Roboto;
	vertical-align: middle;
	text-align: left;
	cell-padding-left: 6px;
	cell-content-style-tag: p;
	cell-content-style-class: Body;
	color: #202a3e;
}


/* Cell Styles: */
 
.TableStyle-GS_Content
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #e8e9eb;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #e8e9eb;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #e8e9eb;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e8e9eb;
	border-bottom-width: 1px;
	margin-bottom: 9px;
	border-spacing: 0px 0px;
}

.TableStyle-GS_Content-Column-Column1
{
	
}

.TableStyle-GS_Content-Column-Column2
{
	
}

.TableStyle-GS_Content-Head-Header1
{
	
}

.TableStyle-GS_Content-HeadI-Column1-Header1
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadI-Column1-Header1 p
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
}

.TableStyle-GS_Content-HeadE-Column1-Header1
{
	color: #202a3e;
	font-size: 16px;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-GS_Content-HeadE-Column1-Header1 p
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
}

.TableStyle-GS_Content-HeadF-Column1-Header1
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-GS_Content-HeadF-Column1-Header1 p
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
}

.TableStyle-GS_Content-HeadH-Column1-Header1
{
	color: #202a3e;
	font-size: 16px;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadH-Column1-Header1 p
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
}

.TableStyle-GS_Content-HeadD-Column1-Header1
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-GS_Content-HeadD-Column1-Header1 p
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
}

.TableStyle-GS_Content-HeadC-Column1-Header1
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadC-Column1-Header1 p
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
}

.TableStyle-GS_Content-HeadB-Column1-Header1
{
	color: #202a3e;
	font-size: 16px;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadB-Column1-Header1 p
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
}

.TableStyle-GS_Content-HeadA-Column1-Header1
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadA-Column1-Header1 p
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
}

.TableStyle-GS_Content-HeadG-Column1-Header1
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadG-Column1-Header1 p
{
	color: #202a3e;
	font-size: 16px;
	font-family: Homie;
}

.TableStyle-GS_Content-HeadI-Column2-Header1
{
	color: ;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadI-Column2-Header1 p
{
	font-family: Homie;
}

.TableStyle-GS_Content-HeadE-Column2-Header1
{
	color: ;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-GS_Content-HeadE-Column2-Header1 p
{
	font-family: Homie;
}

.TableStyle-GS_Content-HeadF-Column2-Header1
{
	color: ;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-GS_Content-HeadF-Column2-Header1 p
{
	font-family: Homie;
}

.TableStyle-GS_Content-HeadH-Column2-Header1
{
	color: ;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadH-Column2-Header1 p
{
	font-family: Homie;
}

.TableStyle-GS_Content-HeadD-Column2-Header1
{
	color: ;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-GS_Content-HeadD-Column2-Header1 p
{
	font-family: Homie;
}

.TableStyle-GS_Content-HeadC-Column2-Header1
{
	color: ;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadC-Column2-Header1 p
{
	font-family: Homie;
}

.TableStyle-GS_Content-HeadB-Column2-Header1
{
	color: ;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadB-Column2-Header1 p
{
	font-family: Homie;
}

.TableStyle-GS_Content-HeadA-Column2-Header1
{
	color: ;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadA-Column2-Header1 p
{
	font-family: Homie;
}

.TableStyle-GS_Content-HeadG-Column2-Header1
{
	color: ;
	font-family: Homie;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
}

.TableStyle-GS_Content-HeadG-Column2-Header1 p
{
	font-family: Homie;
}

.TableStyle-GS_Content-FootI-Column1-
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootI-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootE-Column1-
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-GS_Content-FootE-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootF-Column1-
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootF-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootH-Column1-
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-GS_Content-FootH-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootD-Column1-
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootD-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootC-Column1-
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootC-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootB-Column1-
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-GS_Content-FootB-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootA-Column1-
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootA-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootG-Column1-
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootG-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-FootI-Column2-
{
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-FootI-Column2- p
{
	font-family: Roboto;
}

.TableStyle-GS_Content-FootE-Column2-
{
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-FootE-Column2- p
{
	font-family: Roboto;
}

.TableStyle-GS_Content-FootF-Column2-
{
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-FootF-Column2- p
{
	font-family: Roboto;
}

.TableStyle-GS_Content-FootH-Column2-
{
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-FootH-Column2- p
{
	font-family: Roboto;
}

.TableStyle-GS_Content-FootD-Column2-
{
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-FootD-Column2- p
{
	font-family: Roboto;
}

.TableStyle-GS_Content-FootC-Column2-
{
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-FootC-Column2- p
{
	font-family: Roboto;
}

.TableStyle-GS_Content-FootB-Column2-
{
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-FootB-Column2- p
{
	font-family: Roboto;
}

.TableStyle-GS_Content-FootA-Column2-
{
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-FootA-Column2- p
{
	font-family: Roboto;
}

.TableStyle-GS_Content-FootG-Column2-
{
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-FootG-Column2- p
{
	font-family: Roboto;
}

.TableStyle-GS_Content-Body-Body1
{
	
}

.TableStyle-GS_Content-BodyI-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyI-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyE-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-GS_Content-BodyE-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyF-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyF-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyH-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-GS_Content-BodyH-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyD-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyD-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyC-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyC-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyB-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-GS_Content-BodyB-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyA-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyA-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyG-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyG-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
	font-size: 16px;
}

.TableStyle-GS_Content-BodyI-Column2-Body1
{
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyI-Column2-Body1 p
{
	font-size: 16px;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyE-Column2-Body1
{
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyE-Column2-Body1 p
{
	font-size: 16px;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyF-Column2-Body1
{
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyF-Column2-Body1 p
{
	font-size: 16px;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyH-Column2-Body1
{
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyH-Column2-Body1 p
{
	font-size: 16px;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyD-Column2-Body1
{
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyD-Column2-Body1 p
{
	font-size: 16px;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyC-Column2-Body1
{
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyC-Column2-Body1 p
{
	font-size: 16px;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyB-Column2-Body1
{
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyB-Column2-Body1 p
{
	font-size: 16px;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyA-Column2-Body1
{
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyA-Column2-Body1 p
{
	font-size: 16px;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyG-Column2-Body1
{
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
	padding-left: 6px;
	color: ;
	font-family: Roboto;
}

.TableStyle-GS_Content-BodyG-Column2-Body1 p
{
	font-size: 16px;
	font-family: Roboto;
}


